*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/park-background.jpeg");
    background-size: cover;
}

.leftColumn{
    width:20%;
    display: inline-block;
}

.rightColumn{
    width:75%;
    height:100%;
    display: inline-block;
}

.gameboardBorder{
    width: 80%;
    height: 80%;
    border-radius: 3%;
    background-image: url("./images/wood_grain_texture.jpg");
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: 4px 4px 4px black;
}
.gameArea{
    width: 95%;
    height:95%;
    font-size: 0;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.row{
    width: 100%;
    height:12.5%;
}

.column{
    width:12.5%;
    height:100%;
    display: inline-block;
}

.light{
    background-image: url("./images/light_red_marble.jpeg");
    background-size: cover;
}

.dark{
    background-image: url("./images/dark-marble.jpg");
}

.checker {
    height:90%;
    width:90%;
    border-radius: 100%;
    margin: 3.5% auto;
    box-shadow: 2px 2px 2px black;
}
.player1{
    background-image: url("./images/red-checker.png");
    background-position: center;
}

.player2{
    background-image: url("./images/dark-blue.png");
    background-position: center;
}

.highlight{
    border:2px solid greenyellow;
}

.king{
    background-color: gold;
}

@keyframes slideRight{
    0%   { left:0%; top:50%;}
    50%  { left:50%; top:50%}
    100% { left:200%; top:50%;}
}

.displayTurn{
    width:50%;
    font-size:3rem;
    color:red;
    position: absolute;
    z-index: 3;
    display:none;
}
.slideAnimation{
    animation-name: slideRight;
    animation-duration: 2s;
}
.show{
    display: block;
}

.playerTurn{
    font-size: 2rem;
    position: absolute;
    top:5%;
    left:5%;
    
}